[submodule "src/modules/fairseq"]
	path = src/modules/fairseq
	url = https://github.com/pytorch/fairseq
[submodule "src/modules/av_hubert"]
	path = src/modules/av_hubert
	url = https://github.com/tanthinhdt/av_hubert.git
